<header>
    <nav>
        <div class="navbar">

            <div class="links">
                <a href="/">Ver</a>
                <a href="/consultar">Consultar id</a>
                <a href="/crear">Crear</a>
                <a href="/modificar">Modificar</a>
                <a href="/eliminar">Eliminar</a>
                <a href="/registros">Registros</a>
            </div>

            <div class="form-cerrar">
                <form action="/logout" method="POST" id="logout">
                    <input type="submit" value="Cerrar sesion">
                </form>
            </div>

        </div>
    </nav>
</header>
